@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Poppins", sans-serif;
}

.active {
  color: white;
  background: darkorange;
  padding: 10px;
  border-radius: 25px;
}

.header {
  background: #1F1F1F;
  color: white;
}

.mobile-menu {
  display: none;
}

.form {
  margin: 15px;
}

#about {
  min-height: 100vh;
  padding: 30px;
  border: none;
  max-width: 1920px;
}

.about-info h1{
  font-weight: bold;
}

.about-info p{
  padding: 15px;
  font-size: 24px;
  color: rgb(240, 138, 92);
}

.about-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left-col{
  flex-basis: 50%;
}

.left-col img{
  width: 100%;
  padding: 20px;
}

.right-col{
  flex-basis: 48%;
  margin-left: 2%;
}

.right-col img{
  width: 100%;
  padding: 20px;
}

.right-col h1, .left-col h1{
  padding: 20px;
  font-weight: bold;
  font-size: 35px;
}

.right-col p, .left-col p{
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}

.right-col span, .left-col span{
  color: rgb(240, 138, 92);
}

@media only screen and (max-width: 500px){
  .left-col{
    flex-basis: 100%;
  }

  .left-col img{
    width: 100%;
  }

  .right-col{
    flex-basis: 100%;
  }
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-wrapper img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 5px;
}

.pet-container, .post-container {
  margin: 1rem 0;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3px;
  column-gap: 10px;
}

.pet-container-left, .post-container-left {
  padding: 20px;
}

.pet-container-right, .post-container-right {
  padding: 20px;
  line-height: 1.6;
}

.pet-container-right span, .post-container-right span {
  font-size: 20px;
}

.img-container img {
  width: 400px;
  height: 430px;
  margin: 0 auto;
}

.pet-container-right span, .post-container-right span {
  display: block;
}

.pet-title, .post-title {
  font-size: 26px;
  margin-bottom: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 0.9;
}

.pet-description, .post-description {
  line-height: 1.6;
  font-weight: 300;
  opacity: 0.9;
  margin-top: 22px;
}

@media screen and (max-width: 1024px) {
  .header .menu {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .header .menu {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
  }
}

.pet-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 32px;
}

.filter_menu_mb_tb {
  display: none;
}

.main-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.main-grid_tb {
  display: none;
}

.main-grid_tb_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1650px) {
  .pet-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 32px;
  }
}

@media screen and (max-width: 1400px) {
  .pet-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .pet-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 36px;
  }

  .filter_menu {
    display: none;
  }

  .filter_menu_mb_tb {
    display: block;
  }

  .main-grid-container {
    display: none;
  }

  .main-grid_tb {
    display: block;
  }

  .main-grid_tb_content {
    display: grid;
  }
}

@media screen and (max-width: 900px) {
  .pet-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {

  .pet-grid .details_link {
    display: none;
  }

  .main-grid_tb_content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .pet-container {
    display: block;
  }

  .post-container {
    display: block;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .menu .chakra-button.css-18n18r6 {
    font-size: 14px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

